body {
    display: flex;
    justify-content: center;
    background: #FFFAFA;
}

.PlayGround {
    background: #FFEFD5;
    margin-inline: auto;
    margin-block-start: 50vh;
    transform: translateY(-50%);
    width: 790px;
    height: 790px;
    transition: transform 0.5s ease;
}

.rotate {
    transform: rotate(45deg);
}